# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Supabase Configuration
# You must add these keys to the Secrets panel in the AI Studio Settings menu.
NEXT_PUBLIC_SUPABASE_URL="https://kisuxdgqlsffztkqiomq.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_XV5OCoP9_XQts1DpSOUvIg_v7LtxlAX"
